Subject: Welcome to Nailit

{{define "subject"}}Welcome to Nailit!{{end}}

{{define "plainBody"}}
Hi,

Thanks for signing up for Nailit — we’re excited to have you join us.

For reference, your user ID is {{.userID}}.

To activate your account, please send a request to the following endpoint:

PUT /v1/users/activated

With this JSON body:
{"token": "{{.activationToken}}"}

This activation token can only be used once and will expire in 3 days.

If you didn’t create this account, you can safely ignore this email.

Thanks,
The Nailit Team
{{end}}

{{define "htmlBody"}}

<!doctype html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <p>Hi,</p>

<p>Thanks for signing up for <strong>Nailit</strong> — we’re excited to have you join us.</p>

<p>For reference, your user ID is <strong>{{.userID}}</strong>.</p>

<p>To activate your account, please send a request to the following endpoint:</p>

<p><code>PUT /v1/users/activated</code></p>

<p>With this JSON body:</p>

<pre><code>{"token": "{{.activationToken}}"}</code></pre>

<p>
    This activation token can only be used once and will expire in <strong>3 days</strong>.
</p>

<p>If you didn’t create this account, you can safely ignore this email.</p>

<p>Thanks,<br>The Nailit Team</p>


</body>
</html>
{{end}}
